* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* body * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 100px;
}

.border {
    margin-top: 8px;
    opacity: 1;
    color: #d0d0d0;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.starbucks_logo {
    width: 69.24px;
    height: 69.24px;
    margin-right: 20px;
}

.header_container_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
    font-weight: 700;
}

.header_informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header_informacion_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    width: 90%;
}

.ubicacion {
    height: 28px;
    width: 25px;
}

.inicioSesion {
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px 16px;
}

.registro {
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px 16px;
    background-color: black;
    color: white;
}

.container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 98%;
}

.promocion {
    background-color: rgb(242, 240, 235);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: rgba(30,57,50,1);
    font-weight: 600;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 20px;
}

.parrafo {
    color: rgba(30,57,50,1);
    font-size: 18px;
    line-height: 26px;
    margin: 0 24px;
    text-align: center;
}

.pedido {
    background-color: rgba(30,57,50,1);
    font-size: 18px;
    color: white;
    border-radius: 500px;
    padding: 16px 28px;
    position: relative;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    margin-top: 16px;
}

.image_logo {
    width: 50%;
    height: 24%;
}

.segundo_container {
    background-color: rgba(255,255,162,0.87);
}

.segundo_parrafo {
    color: rgba(30, 57, 50, 1);
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
}

.tercer_container {
    background-color: rgba(255, 197, 109, 0.81);
}

.tercer_parrafo {
    color: rgba(30, 57, 50, 1);
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
}

.footer {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    margin-top: 48px;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 48px;
}

.footer__titulo {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.items {
    list-style: none;
}

.footer__container__nosotros, .footer__container__nosotros, .footer__container__impactoSocial, .footer__container__compras, .footer__container__politicas{
    width: 16%;
}

.item {
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.58);
    font-weight: 400;
    font-size: 15px;
}

.footer_redes_sociales {
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.footer__facebook {
    margin-top: 20px;
    width: 40px;
    margin-right: 20px;
}

.footer__instagram {
    width: 40px;
}

.footer__libro__reclamaciones {
    width: 120px;
    height: 80px;
}

.copyright {
    padding: 25px;
}