* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body * {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    height: 100px;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.starbucks_logo {
    width: 69.24px;
    height: 69.24px;
    margin-right: 20px;
}

.header_container_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 50%;
}

.header_informacion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.header_informacion_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 60%;
}